.results{
    // @include default-page-layout();
    height: 100vh;
    width: 66vw;
    display: grid;

    margin-top: 52px;
    row-gap: 44px;
    
}
.results-posts{
    .results-posts__wrapper{
        .results-posts__posts{
            display: grid;
            row-gap: 22px;
        }
    }
}
.results-post{
    display: grid;
    align-content: space-around;
    row-gap: 22px;

    result-post__topics > *{
        color: $blue-one;
        font-size: 14px;
        line-height: 17px;
        font-weight: normal;
    }
    result-post__title a{
        color: $gray-one;
        font-size: 18px;
        line-height: 22px;

    }
    
    result-post__links{

    }
}
